<!DOCTYPE html>
<html lang="en" style="background-color: #2cb8b6; background: linear-gradient(to left, #2cb8b6, #0b5454)">
<head>
<meta charset="utf-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
    background: rgba(44, 184, 181, 0.8)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgba(44, 184, 181, 0.8);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}
.fora {
    margin: 10px 10px 10px 0px;
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>
<body style="background-color: #2cb8b6; background: linear-gradient(to left, #2cb8b6, #0b5454)">


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Настройки Профиля</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-4"><label class="labels">Имя</label><p type="text" class="font-monospace .fs-5 text fw-bolder fora" id="name">{{ serializer.last_name }}<p/></div>
                    <div class="col-md-4"><label class="labels">Фамилия</label><p type="text" class="font-monospace .fs-5 text fw-bolder fora" id="name">{{ serializer.first_name }}<p/></div>
                    <div class="col-md-4"><label class="labels">Отчество</label><p type="text" class="font-monospace .fs-5 text fw-bolder fora" id="name">Олеговна<p/></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Номер Телефона</label><p type="text" class="font-monospace .fs-5 text fw-bolder fora" id="name">+79852211461<p/></div>
                    <div class="col-md-12"><label class="labels">Должность</label><p type="text" class="font-monospace .fs-5 text fw-bolder fora" id="name">Начальник<p/></div>
                    <div class="col-md-12"><label class="labels">Отдел</label><p type="text" class="font-monospace .fs-5 text fw-bolder fora" id="name">Маркетинг<p/></div>

                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">ID</label><p type="text" class="font-monospace .fs-5 text fw-bolder fora" id="name">kropotkinaNO<p/></div>
                    <div class="col-md-6"><label class="labels">День Рождения</label><p type="text" class="font-monospace .fs-5 text fw-bolder fora" id="name">12/03/1978<p/></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" onchange="sdsadsa()">Сохранить Измненений</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Настройки Аккаунта</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>Смена Пароль</span></div><br>
                <div class="col-md-12"><label class="labels">Логин</label><input type="text" class="form-control" placeholder="Логин" value="" id="login"></div>
                <div class="col-md-12"><label class="labels">Пароль</label><input type="text" class="form-control" placeholder="Пароль" value="" id="password"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
<script>
function sdsadsa () {
    sda = document.getElementsByTagName('input')
    sda.forEach(input => input.tag = 'a');
    }
</script>